.lister {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (min-width: 480px) {
    .lister {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 768px) {
    .lister {
        justify-content: space-between;
    }
}